nav {
  padding-right: 30px;
  padding-left: 30px;
}

h1 {
  color: #30336b;
}

.the-news-logo {
  font-size: 50px;
  padding-bottom: 30px;
  background: #f6e58d;
  border-radius: 15px;
  padding: 30px;
}

.the-news-logo:hover {
  background-color: #f39c12;
}

span {
  font-size: 80px;
  color: #ff7979;
  padding: 30px;
}

h2 {
  cursor: pointer;
}

h3 {
  cursor: pointer;
  color: #30336b;
  padding-bottom: 15px;
}

h3:hover {
  border-bottom: 2px solid #f39c12;
}

.icon-image {
  border-radius: 0px;
  height: 50px;
  width: 50px;
}
